@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-ovd-midnight text-ovd-light font-body antialiased;
}

main {
  @apply min-h-screen;
}

.container {
  @apply max-w-6xl mx-auto px-4;
}
